# Progress Developer Studio files
.metadata/
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
.dbconnection
.services
s
# Compiled output
*.r
*.srf
*.xml
*.json
*.zip

# PASOE instance files
<CATALINA_BASE>/conf/*
!<CATALINA_BASE>/conf/openedge.properties
<CATALINA_BASE>/logs/*
<CATALINA_BASE>/temp/*
<CATALINA_BASE>/webapps/*

# Dependency directories
node_modules/
jspm_packages/

# Misc
.DS_Store
.idea/
.vscode/
# this project

# *.launch
*.docx
*.tar
*.zip
*.gz

temp/empty.dir


# ABL/PDSOE
bin/
.settings/
*.r
*.pl


# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
